In [44]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import warnings
warnings.filterwarnings("ignore")

"""
Please create at most 2 notebooks
1.      Exploratory Data Analysis: At least 5 to 10 graphs
2.     Follow the document “Steps for any ML Problem”
"""

'\nPlease create at most 2 notebooks\n1.      Exploratory Data Analysis: At least 5 to 10 graphs\n2.     Follow the document “Steps for any ML Problem”\n'

In [45]:
train=pd.read_csv("train.csv",parse_dates=[2])
train.shape

(1017209, 9)

In [46]:
train.head().append(train.tail())

,Store,DayOfWeek,Date,Sales,Customers,Open,Promo,StateHoliday,SchoolHoliday
0,1,5,2015-07-31,5263,555,1,1,0,1
1,2,5,2015-07-31,6064,625,1,1,0,1
2,3,5,2015-07-31,8314,821,1,1,0,1
3,4,5,2015-07-31,13995,1498,1,1,0,1
4,5,5,2015-07-31,4822,559,1,1,0,1
1017204,1111,2,2013-01-01,0,0,0,0,a,1
1017205,1112,2,2013-01-01,0,0,0,0,a,1
1017206,1113,2,2013-01-01,0,0,0,0,a,1
1017207,1114,2,2013-01-01,0,0,0,0,a,1
1017208,1115,2,2013-01-01,0,0,0,0,a,1

In [47]:
train.dtypes

Store                     int64
DayOfWeek                 int64
Date             datetime64[ns]
Sales                     int64
Customers                 int64
Open                      int64
Promo                     int64
StateHoliday             object
SchoolHoliday             int64
dtype: object

In [48]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1017209 entries, 0 to 1017208
Data columns (total 9 columns):
 #   Column         Non-Null Count    Dtype
---  ------         --------------    -----
 0   Store          1017209 non-null  int64
 1   DayOfWeek      1017209 non-null  int64
 2   Date           1017209 non-null  datetime64[ns]
 3   Sales          1017209 non-null  int64
 4   Customers      1017209 non-null  int64
 5   Open           1017209 non-null  int64
 6   Promo          1017209 non-null  int64
 7   StateHoliday   1017209 non-null  object
 8   SchoolHoliday  1017209 non-null  int64
dtypes: datetime64[ns](1), int64(7), object(1)
memory usage: 69.8+ MB

In [49]:
#Train Preprocessing :
train.isnull().sum()

#tc = train['Sales']/train['Customers']
#tc.mean()

Store            0
DayOfWeek        0
Date             0
Sales            0
Customers        0
Open             0
Promo            0
StateHoliday     0
SchoolHoliday    0
dtype: int64

#### Comment : There are no missing values in train dataset.

In [50]:
store=pd.read_csv("store.csv")
store.shape

(1115, 10)

In [51]:
store.dtypes

Store                          int64
StoreType                     object
Assortment                    object
CompetitionDistance          float64
CompetitionOpenSinceMonth    float64
CompetitionOpenSinceYear     float64
Promo2                         int64
Promo2SinceWeek              float64
Promo2SinceYear              float64
PromoInterval                 object
dtype: object

In [52]:
store.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1115 entries, 0 to 1114
Data columns (total 10 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Store                      1115 non-null   int64
 1   StoreType                  1115 non-null   object
 2   Assortment                 1115 non-null   object
 3   CompetitionDistance        1112 non-null   float64
 4   CompetitionOpenSinceMonth  761 non-null    float64
 5   CompetitionOpenSinceYear   761 non-null    float64
 6   Promo2                     1115 non-null   int64
 7   Promo2SinceWeek            571 non-null    float64
 8   Promo2SinceYear            571 non-null    float64
 9   PromoInterval              571 non-null    object
dtypes: float64(5), int64(2), object(3)
memory usage: 87.2+ KB

In [53]:
#Stroe Data Preprocessing :
store.isnull().sum()

Store                          0
StoreType                      0
Assortment                     0
CompetitionDistance            3
CompetitionOpenSinceMonth    354
CompetitionOpenSinceYear     354
Promo2                         0
Promo2SinceWeek              544
Promo2SinceYear              544
PromoInterval                544
dtype: int64

In [54]:
store.head()

,Store,StoreType,Assortment,CompetitionDistance,CompetitionOpenSinceMonth,CompetitionOpenSinceYear,Promo2,Promo2SinceWeek,Promo2SinceYear,PromoInterval
0,1,c,a,1270.0,9.0,2008.0,0,NaN,NaN,NaN
1,2,a,a,570.0,11.0,2007.0,1,13.0,2010.0,"Jan,Apr,Jul,Oct"
2,3,a,a,14130.0,12.0,2006.0,1,14.0,2011.0,"Jan,Apr,Jul,Oct"
3,4,c,c,620.0,9.0,2009.0,0,NaN,NaN,NaN
4,5,a,a,29910.0,4.0,2015.0,0,NaN,NaN,NaN

In [55]:
store.dtypes

Store                          int64
StoreType                     object
Assortment                    object
CompetitionDistance          float64
CompetitionOpenSinceMonth    float64
CompetitionOpenSinceYear     float64
Promo2                         int64
Promo2SinceWeek              float64
Promo2SinceYear              float64
PromoInterval                 object
dtype: object

In [56]:
import seaborn as sns
#sns.distplot(store['CompetitionDistance'],color = 'red')

* As the distribution of "CompetitionDistance" is skewed so we fill the missing value by "median"

In [57]:
print(store.CompetitionDistance.median())
store['CompetitionDistance']=store['CompetitionDistance'].fillna('2325').astype("int64")

2325.0

In [58]:
#sns.distplot(store['CompetitionOpenSinceMonth'],color = 'yellow')

In [59]:
print(store.CompetitionOpenSinceMonth.median())
print(store.CompetitionOpenSinceMonth.mean())

8.0
7.2247043363994745

* After compution of mean and median we can see that there is not much difference so we can fill the missing value by mean="8.0"

In [60]:
store['CompetitionOpenSinceMonth']=store['CompetitionOpenSinceMonth'].fillna('8').astype("int64")

In [61]:
#sns.distplot(store['CompetitionOpenSinceYear'],color = 'orange')

* similarly here alsothe distribution of "CompetitionOpenSinceYear" is skewed so we fill the missing value by "median"

In [62]:
print(store.CompetitionOpenSinceYear.median())
store['CompetitionOpenSinceYear']=store['CompetitionOpenSinceYear'].fillna('2010').astype("int64")

2010.0

In [63]:
#sns.distplot(store['Promo2SinceWeek'],color = 'purple')

In [64]:
print(store.Promo2SinceWeek.median())
store['Promo2SinceWeek']=store['Promo2SinceWeek'].fillna('24').astype("int64")

22.0

In [65]:
#sns.distplot(store['Promo2SinceYear'],color = 'green')

In [66]:
print(store.Promo2SinceYear.median())
store['Promo2SinceYear']=store['Promo2SinceYear'].fillna('2012').astype("int64")

2012.0

In [67]:
store=store.drop('PromoInterval',axis=1)

In [68]:
store.isnull().sum()

Store                        0
StoreType                    0
Assortment                   0
CompetitionDistance          0
CompetitionOpenSinceMonth    0
CompetitionOpenSinceYear     0
Promo2                       0
Promo2SinceWeek              0
Promo2SinceYear              0
dtype: int64

#### Comment :After imputation ,There are no missing values in store data.

In [69]:
store.dtypes

Store                         int64
StoreType                    object
Assortment                   object
CompetitionDistance           int64
CompetitionOpenSinceMonth     int64
CompetitionOpenSinceYear      int64
Promo2                        int64
Promo2SinceWeek               int64
Promo2SinceYear               int64
dtype: object

In [70]:
# merge data with store 
store_train = pd.merge(train, store, on='Store',how="left")
print(store_train.shape)

(1017209, 17)

In [71]:
print(store_train.shape)

(1017209, 17)

In [72]:
store_train.head(3)

,Store,DayOfWeek,Date,Sales,Customers,Open,Promo,StateHoliday,SchoolHoliday,StoreType,Assortment,CompetitionDistance,CompetitionOpenSinceMonth,CompetitionOpenSinceYear,Promo2,Promo2SinceWeek,Promo2SinceYear
0,1,5,2015-07-31,5263,555,1,1,0,1,c,a,1270,9,2008,0,24,2012
1,2,5,2015-07-31,6064,625,1,1,0,1,a,a,570,11,2007,1,13,2010
2,3,5,2015-07-31,8314,821,1,1,0,1,a,a,14130,12,2006,1,14,2011

In [73]:
#store_train['year'] = pd.DatetimeIndex(store_train['Date']).year
#store_train['month'] = pd.DatetimeIndex(store_train['Date']).month
#store_train['day'] = pd.DatetimeIndex(store_train['Date']).day

In [74]:
print(store_train.StateHoliday.unique())
print(store_train.StoreType.unique())
print(store_train.Assortment.unique())

['0' 'a' 'b' 'c' 0]
['c' 'a' 'd' 'b']
['a' 'c' 'b']

In [75]:
mappings = {'0':0, 'a':1, 'b':2, 'c':3, 'd':4}
store_train['StoreType'].replace(mappings,inplace=True)
store_train['Assortment'].replace(mappings, inplace=True)
store_train['StateHoliday'].replace(mappings, inplace=True)

In [76]:
store_train.head()

,Store,DayOfWeek,Date,Sales,Customers,Open,Promo,StateHoliday,SchoolHoliday,StoreType,Assortment,CompetitionDistance,CompetitionOpenSinceMonth,CompetitionOpenSinceYear,Promo2,Promo2SinceWeek,Promo2SinceYear
0,1,5,2015-07-31,5263,555,1,1,0,1,3,1,1270,9,2008,0,24,2012
1,2,5,2015-07-31,6064,625,1,1,0,1,1,1,570,11,2007,1,13,2010
2,3,5,2015-07-31,8314,821,1,1,0,1,1,1,14130,12,2006,1,14,2011
3,4,5,2015-07-31,13995,1498,1,1,0,1,3,3,620,9,2009,0,24,2012
4,5,5,2015-07-31,4822,559,1,1,0,1,1,1,29910,4,2015,0,24,2012

In [77]:
# Records where Sales>0 and Open is 1
#store_train = store_train[(store_train.Open != 0)&(store_train.Sales >0)]

In [78]:
store_train.shape

(1017209, 17)

In [79]:
store_train=store_train.drop(["Date","Store"],axis=1)

In [80]:
store_train1=store_train.copy()
train1=store_train1.drop('Sales',axis=1)
Sales=pd.DataFrame(store_train1['Sales'])
Sales.head()

   Sales
0   5263
1   6064
2   8314
3  13995
4   4822

In [81]:
final_train=pd.concat([train1, Sales.reindex(train1.index)], axis=1)
final_train.head()

final_train_drop = final_train.drop(['Promo2SinceWeek', 'Promo2SinceYear','Customers'], axis =1)
final_train_drop.head()

,DayOfWeek,Open,Promo,StateHoliday,SchoolHoliday,StoreType,Assortment,CompetitionDistance,CompetitionOpenSinceMonth,CompetitionOpenSinceYear,Promo2,Sales
0,5,1,1,0,1,3,1,1270,9,2008,0,5263
1,5,1,1,0,1,1,1,570,11,2007,1,6064
2,5,1,1,0,1,1,1,14130,12,2006,1,8314
3,5,1,1,0,1,3,3,620,9,2009,0,13995
4,5,1,1,0,1,1,1,29910,4,2015,0,4822

In [82]:
#independent and dependent variable:
X=final_train_drop.drop('Sales',axis=1)
y=final_train_drop['Sales']

In [83]:
from sklearn.preprocessing import StandardScaler
mm=StandardScaler()
X_Scale=mm.fit_transform(X)
X=pd.DataFrame(X_Scale,columns=X.columns,index=X.index)

In [84]:
#train test split
from sklearn.metrics import mean_squared_error,mean_absolute_error,r2_score
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 0)

In [90]:
#===========================  XGBRegressor  =================================
from sklearn.model_selection import RandomizedSearchCV
from xgboost import XGBRegressor
##tUNING PARAMS
# eta
# gamma
# max_depth
# min_child_weight
# max_delta_step 
# subsample
# colsample_bytree
# lambda
# alpha

#####

XGB = XGBRegressor(random_state=0)
XGB.fit(X_train,y_train)
print("Accuuracy with GBC on train data : {:.4f}".format(XGB.score(X_train,y_train)))
print("Accuuracy with GBC on test data : {:.4f}".format(XGB.score(X_test,y_test)))

XGB = XGBRegressor()
#=========================PARAMETER TUNING: ===================
params={"eta":np.linspace(0.01,0.3,10),
"max_depth":np.arange(3,17,2),"n_estimators"=np.arange(50,200,50), "booster"="gblinear"
}
#============================================================
xgbrs = RandomizedSearchCV(estimator= XGB,random_state = 2020, param_distributions=params, verbose =3, n_jobs = -1)
xgbrs.fit(X_train, y_train)
y_pred_rs=xgbrs.predict(X_test)
print(mean_squared_error(y_test, y_pred_rs))
print(mean_absolute_error(y_test, y_pred_rs))
print(r2_score(y_test, y_pred_rs)

In [ ]:
y_pred=XGB.predict(X_test)
print(mean_squared_error(y_test, y_pred))
print(mean_absolute_error(y_test, y_pred))
print(r2_score(y_test, y_pred))

In [ ]:
X_train.head()

In [ ]:
from sklearn.ensemble import RandomForestRegressor
rf = RandomForestRegressor(n_estimators = 120, random_state=2021,verbose=2,max_depth=10,n_jobs=-1)
rf.fit(X_train, y_train)
y_pred=rf.predict(X_test)
print(mean_squared_error(y_test, y_pred))
print(mean_absolute_error(y_test, y_pred))
print(r2_score(y_test, y_pred))

In [ ]:
ser  = pd.Series(rf.feature_importances_)
ser.plot(kind='bar')
print(X_train.columns)

In [ ]:
from sklearn.linear_model import ElasticNet

en = ElasticNet()
en.fit(X_train, y_train)
y_pred_en=en.predict(X_test)
print(mean_squared_error(y_test, y_pred_en))
print(mean_absolute_error(y_test, y_pred_en))
print(r2_score(y_test, y_pred_en))

In [ ]:
en = ElasticNet()
alpha = np.linspace(0.1, 1.0, 5)
l1_ratio = np.arange(0.1, 1.0, 10)
random_state = 2020
params={'alpha': alpha, 'l1_ratio':l1_ratio}
rs = RandomizedSearchCV(estimator= en, param_distributions=params, verbose =2, n_jobs = -1)
rs.fit(X_train, y_train)
y_pred_rs=rs.predict(X_test)
print(mean_squared_error(y_test, y_pred_rs))
print(mean_absolute_error(y_test, y_pred_rs))
print(r2_score(y_test, y_pred_rs))

In [ ]:
from sklearn.ensemble import VotingRegressor
mod =[('rf', rf), ('en', en), ('xgb', XGB)]

vr = VotingRegressor(mod, verbose=2)
y_pred_vr=vr.fit(X_train, y_train).predict(X_test)
print(mean_squared_error(y_test, y_pred_vr))
print(mean_absolute_error(y_test, y_pred_vr))
print(r2_score(y_test, y_pred_vr))

In [ ]:
X.describe()

# Test Data:

In [ ]:
#Test Data:
test=pd.read_csv("test.csv")
test.shape

In [ ]:
test.head().append(test.tail())

In [ ]:
test.dtypes

In [ ]:
#test.info()

In [ ]:
test.isnull().sum()

In [ ]:
test['Open']=test['Open'].fillna(1).astype("int64")

#### Comment : After imputation of mode, There are no missing values in test set.

In [ ]:
test.isnull().sum()

In [ ]:
# merge data with store 
store_test= pd.merge(test, store, on='Store',how='left')
print(store_test.shape)

In [ ]:
store_test.head()

In [ ]:
#store_test['year'] = pd.DatetimeIndex(store_test['Date']).year
#store_test['month'] = pd.DatetimeIndex(store_test['Date']).month
#store_test['day'] = pd.DatetimeIndex(store_test['Date']).day

In [ ]:
print(store_test.StateHoliday.unique())
print(store_test.StoreType.unique())
print(store_test.Assortment.unique())

In [ ]:
mappings = {'0':0, 'a':1, 'b':2, 'c':3, 'd':4}
store_test['StoreType'].replace(mappings,inplace=True)
store_test['Assortment'].replace(mappings, inplace=True)
store_test['StateHoliday'].replace(mappings, inplace=True)

In [ ]:
store_test.head()

In [ ]:
#store_test=store_test.drop(["Date","Store"],axis=1)
store_test=store_test.drop(["Date","Store","Promo2SinceWeek","Promo2SinceYear"],axis=1)

In [ ]:
#store_test.insert(2,"Customers",9.49,True)

In [ ]:
store_test1=store_test.copy()

In [ ]:
store_test=store_test.drop("Id",axis=1)

In [ ]:
store_test.head()

In [ ]:
store_test1.dtypes

In [ ]:
store_test1.head()

In [ ]:
from sklearn.preprocessing import MinMaxScaler
mm=MinMaxScaler()
Sc_test=mm.fit_transform(store_test)
store_test=pd.DataFrame(Sc_test,columns=store_test.columns)

In [ ]:
Id=store_test1['Id']
y_pred_xgb = XGB.predict(store_test)
file1 = pd.DataFrame({'Id':Id,'Sales':y_pred_xgb})
file1.to_csv("XGB_submission_Rossmann4.csv",index=False)

In [ ]:
Id=store_test1['Id']
y_pred_vr = vr.predict(store_test)
vr = pd.DataFrame({'Id':Id,'Sales':y_pred_vr})
vr.to_csv("vr4.csv",index=False)

In [ ]:
Id=store_test1['Id']
y_pred_en = en.predict(store_test)
file1 = pd.DataFrame({'Id':Id,'Sales':y_pred_en})
file1.to_csv("en4.csv",index=False)

In [ ]:
Id=store_test1['Id']
y_pred_rs = rs.predict(store_test)
rs = pd.DataFrame({'Id':Id,'Sales':y_pred_rs})
rs.to_csv("rs4.csv",index=False)